<h1>Lovebop tickets</h1>

<h3>In advance</h3>

<p class="event-text">
	Adults: £4.50<br>
	Children (under 15): £6.50<br>
	Babies/toddlers (under 2): Free<br>
	Siblings: £3.50<br>
	Family (2 Adults and 2 Children): £19.50
</p>

<h3>On the door</h3>

<p class="event-text">
	Adults: £5.50<br>
	Children (under 15): £7.50<br>
	Babies/toddlers (under 2): Free<br>
	Siblings: £4.50<br>
	Family (2 Adults and 2 Children): £22
</p>