body {
	background-color: #262B48;
	/*background: url("/images/stars.jpg")  no-repeat center center;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-weight: 700;
}

@font-face {
    font-family: markerfelt;
    src: url('../fonts/Marker-Felt.ttf.woff');
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 200;
}

#lovebop-logo {
	width: 460px;
}

#footer {
	margin-top: 30px;
	border-top: 1px solid #eeeeee;
	padding-top: 30px;
	color: #777777;
}

.footer-content {
	text-align: center;
}

.social-logo {
	width: 20px;
}

.gallery-image img{
  display: block;
  max-width: 100%;
  height: auto;
}

#main-content  {
	background-color: #fff;
	padding: 40px;
	margin-bottom: 20px;
	display: block;
	overflow: auto;
}

.logo-container {
	margin-top: 30px;
	margin-bottom: 15px;
	float: left;
	width: 100%;	
}

.title-container {
	text-align: right;
	float: right;
}

#title {
	font-size: 6em;
}

.strap-container {
	clear: both;	
}

#strapline {	
	color: #fff;
	text-align: right;
	letter-spacing: 2px;
}

.hero-image, .post-image {
	width: 100%;
	object-fit: contain;
}

.hero-image {
	margin-top: 25px;
}

.post-image {
	margin-top: 0px;
}

.home-image {
	margin-left: 20px;
}

.main-text, .event-text, .post-content {
	margin-top: 20px;
	margin-bottom: 10px;
}

.categories-container {
	margin: 10px 0px;
}

.blog-categories-list {
	display: inline-block;
	padding: 10px;
	margin-right: 10px;
	margin-top: 10px;
	color: #fff;
	background-color: lighten($brand-secondary, 10%);
	font-size: 0.7em;
}

.social-links-container {
	margin-top: 20px;
	margin-bottom: 15px;
}

.post-categories {
	margin-top: 20px;
	margin-bottom: 10px;
}

.post-social-icon {
	width: 40px;
	margin-right: 20px;
}

a.post-social-link, a.post-social-link:hover, a.post-social-link:active, a.post-social-link:visited {
	text-decoration: none;
}

.event-container, .blog-container {
	margin-top: 20px;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 20px;
	border-top: 2px solid;
}

.event-head, .event-text {
	margin-bottom: 20px;
}

.date-box {
	margin-top: 20px;
	margin-bottom: 40px;
	width: 100%;
	padding: 40px;
	background-color: lighten($brand-secondary, 10%);
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	font-size: 1.5em;
	float: left;
}

.event-date, .event-month {
	margin-bottom: -10px;
}

.event-date {
	font-size: 2em;
}

.signup-content {
	margin-top: 32.5px;
}

.signup-button {
	margin-top: 10px;
	width: 100%;
}

.ticket-btn {
	padding: 16px 50px;
}

@media (max-width: $screen-sm-min) {

	#main-content {
		padding: 20px;
	}

	#lovebop-logo {
		width: 240px;
	}

	.logo-container {
		margin-top: 20px;
		margin-bottom: 10px;
	}	

	#strapline {
/*		font-size: 1.5em;
*/		letter-spacing: 1px;
	}
	
	.date-box {
		display: none;
	}

	body {
		font-size: 1.2em;
	}

	.main-text, .event-text, .post, .post-content {
		margin-top: 10px;
		margin-bottom: 5px;
	}

	h1 {
		font-size: 1.8em;
		margin-top: 18px;
		margin-bottom: 9px;
	}
	h2 {
		font-size: 1.5em;
		margin-top: 14px;
		margin-bottom: 7px;
	}
	h3 {
		font-size: 1.3em;
		margin-top: 12px;
		margin-bottom: 6px;
	}
	h4 {
		font-size: 1em;
		margin-top: 10px;
		margin-bottom: 5px;
	}
	h5 {
		font-size: 0.8em;
		margin-top: 8px;
		margin-bottom: 4px;
	}
	h6 {
		font-size: 0.6em;
		margin-top: 6px;
		margin-bottom: 3px;
	}

	.event-container, .blog-container {
		margin-top: 10px;
		margin-bottom: 5px;
		padding-top: 5px;
		padding-bottom: 10px;
	}

	.lead {
		font-size: 0.6em;
		margin-bottom: 12px;
	}
	.read-more {
		font-size: 0.6em;
		margin-bottom: 8px;
	}
	.blog-categories-list {
		padding: 6px;
		margin-right: 6px;
		margin-top: 10px;
	}

	.social-links-container {
		margin-top: 10px;
		margin-bottom: 5px;
	}

	.post-social-icon {
		width: 20px;
	}

	.hero-image {
	    margin-top: 12px;
	}

	.ticket-btn {
		padding: 6px 14px;
		font-size: 1em;
	}
	
}
